pypdf
chromadb
langchain
langchain-google-genai
langchain-community
python-dotenv
pymupdf
langchain-docling
docling-core
langchain-huggingface
langchain-chroma
chromadb
langchain-core
google-generativeai 
langchain-google-genai
google-search-results
tavily-python
opencv-python-headless
streamlit>=1.38.0
faiss-cpu
faiss-gpu