streamlit>=1.38.0
langchain
langchain-google-genai
langchain-huggingface
langchain-community
python-dotenv
pymupdf
faiss-cpu
google-search-results 
langchain-docling
docling-core
langsmith>=0.1.99
langchain-text-splitters